.bg{
  background-image:url("/public/bg.jpg") ;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* filter: blur(5px); */
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  gap: 20px;
  padding: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 92vh;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.do{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1,h2,h3,h4,p{
  margin: 0;
  font-weight: 100;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h1{
  font-weight: 500;
  background-color: rgba(226, 222, 222, 0.582);
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
}
.input{
  font-size: small;
  padding: 8px;
  width: 260px;
  border-radius: 0;
  border-style:solid;
  border-color: rgb(73, 73, 73);
  border-width: 0.5px;
}
.sbtn{
  font-size: small;
  padding: 8px;
  width:fit-content;
  border-radius: 0;
  background-color:chocolate;
  border-style: none;
}
.end{
  justify-self: flex-end;
}
p{
  font-size: smaller;
}
.sbtn:active, .mealbtn:active{
  background-color:#ff9f43 ;
}
.sbtn:hover, .mealbtn:hover{
  cursor: pointer;
  background-color: rgb(240, 182, 36);
}